<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<mapper namespace="com.lyh.Dao.AnthorityDao">
			<select id="findAll" resultType="com.lyh.entity.Role_Info" parameterType="com.lyh.entity.Role_Info">
				select * from role_info where role_name like #{mhcx}  and role_mark='1' limit #{currentPage},#{lineSize} 
			</select>
			<select id="count" parameterType="String" resultType="int">
				select count(*) from role_info where role_mark='1' and role_name like #{mhcx}
			</select>
			
			<select id="findzs" resultType="com.lyh.entity.Menu_Info">
				select * from menu_info 
			</select>
			
			<select id="findf" resultType="int"><!-- 如果返回空值  证明他没有子健 -->
				select a.menu_id  from menu_info a,menu_info b where a.prent_menu_id=b.menu_id and b.menu_id=#{Menu_id}
			</select>
			
			<select id="findz" resultType="com.lyh.entity.Menu_Info" parameterType="int">
				select * from menu_info where prent_menu_id=#{id}
			</select>
			
			<select id="findid" resultType="com.lyh.entity.Menu_Info" parameterType="int">
				select * from menu_info where menu_id=#{id}
			</select>
			
			
			<!-- (*╹▽╹*) (*╹▽╹*) (*╹▽╹*) (*╹▽╹*) (*╹▽╹*) (*╹▽╹*) (*╹▽╹*)3d报表 -->
			
			<select id="findfjd" resultType="com.lyh.entity.Menu_Info">
				select * from menu_info where prent_menu_id ='0'
			</select>
			
			<select id="findzjd" resultType="com.lyh.entity.Menu_Info" parameterType="int">
				select * from menu_info where menu_id=#{Menu_id}
			</select>
			
			
			
			
			
			
			
			
			<select id="lsdancha" resultType="map" parameterType="int">
				select a.* from menu_info a,role_menu_info b where b.menu_id=a.menu_id and b.role_id =#{Role_id}
			</select>
			
			<select id="lsfindall" resultType="com.lyh.entity.Menu_Info">
				select * from menu_info
			</select>
			
			<delete id="delete" parameterType="int">
				delete  from role_menu_info where role_id=#{id}
			</delete>
			
			<insert id="insert" parameterType="map">
				insert into role_menu_info (menu_id,role_id) values(#{Menu_id},#{Role_id})
			</insert>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		</mapper>